* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.loadedImages {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;

}

.hidden {
    display: none;
}


  
  